@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --color-primary: #9d9570;
  --color-primary-variant: #292d33;
  --color-error: red;
  --color-sucess: green;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;

}

body{
  background-color: var(--color-primary);
}